<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>체스</title>
</head>
<body>
<div style='float:left'>
    <pre th:utext="${view}">보드판</pre>
</div>
<div style='float:right;margin-right:200px;margin-top:200px'>
    턴: <a th:text="${turnCount}"></a>
    <br>
    기보: <a th:text="${notation}"></a>
    <form th:action th:method="post">
        움직일 위치: <input type="text" name="strPoint"> <input type="submit"/>
    </form>
    <div th:if="${hasError}" th:text="${error}"></div>
</div>
</body>
</html>
